<div class="container-fluid page kids">
  <div class="row camp fullheight" id="camp">
    <h2>CAMP</h2>
        <div class="grid">
          <figure class="effect-sarah">
            <%= image_tag('camp1.jpg') %>
            <figcaption>
              <h2>Summer <span>CAMP</span></h2>
              <p>Sarah likes to watch clouds. She's quite depressed.</p>
              <a href="#">View more</a>
            </figcaption>     
          </figure>
          <figure class="effect-sarah">
            <%= image_tag('camp2.jpg') %>
            <figcaption>
              <h2>Mini <span>CAMP</span></h2>
              <p>Sarah likes to watch clouds. She's quite depressed.</p>
              <a href="#">View more</a>
            </figcaption>     
          </figure>
        </div>

  </div>
  <div class="row afterschool" id="afterscool">
  </div>
  <div class="row inschool" id="inschool">
    <div class="container-fluid">
      <h2>In school programs</h2>
      <div class="row">
        <blockquote class="col-md-6 col-lg-3" id="janeh">
          <div class="quote">
            <span class="intro">Beyond The dress</span>
            <span class="more"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse felis diam, dictum vitae tempor pulvinar, sollicitudin non felis. Integer venenatis tempus pulvinar. Integer mattis vestibulum bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ut urna justo. Integer volutpat rhoncus eros nec blandit. Cras rutrum nunc ut est pellentesque rhoncus. Nam faucibus magna eget odio iaculis lacinia.</span>
            <span class="customer">Jane H.</span>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="mcphersons">
          <div class="quote">
            <span class="intro">Miami Country Day School project video</span>
            <span class="more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse felis diam, dictum vitae tempor pulvinar, sollicitudin non felis. Integer venenatis tempus pulvinar. Integer mattis vestibulum bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ut urna justo. Integer volutpat rhoncus eros nec blandit. Cras rutrum nunc ut est pellentesque rhoncus. Nam faucibus magna eget odio iaculis lacinia</span>
            <span class="customer">The McPhersons</span>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="johnb">
          <div class="quote">
            <span class="intro">Beis Chana Fashion Show</span>
            <span class="more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse felis diam, dictum vitae tempor pulvinar, sollicitudin non felis. Integer venenatis tempus pulvinar. Integer mattis vestibulum bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ut urna justo. Integer volutpat rhoncus eros nec blandit. Cras rutrum nunc ut est pellentesque rhoncus. Nam faucibus magna eget odio iaculis lacinia</span>
            <span class="customer">John B</span>
          </div>
        </blockquote>

        <blockquote class="col-md-6 col-lg-3" id="lorraines">
          <div class="quote">
            <span class="intro">Ruth K Broad K-8 Fashion Show</span>
            <span class="more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse felis diam, dictum vitae tempor pulvinar, sollicitudin non felis. Integer venenatis tempus pulvinar. Integer mattis vestibulum bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In ut urna justo. Integer volutpat rhoncus eros nec blandit. Cras rutrum nunc ut est pellentesque rhoncus. Nam faucibus magna eget odio iaculis lacinia</span>
            <span class="customer">Lorraine S</span>
          </div>
        </blockquote>          
      </div>
    </div><!-- container -->
  </div>
  <div class="row otherevents" id="otherevents">
    <div class="media">
      <div class="media-left media-middle">
        <%= image_tag('pregnant.jpg', class: "othereventspics") %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Mommy to be</h4>
        In our Mommy & Me classes your little one will create something special WITH you while creating lifetime memories FOR both of you!
      </div>
    </div>
     <div class="media">
      <div class="media-right media-middle">
        <%= image_tag('pregnant.jpg', class: "othereventspics") %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Recyled me</h4>
        In our Mommy & Me classes your little one will create something special WITH you while creating lifetime memories FOR both of you!
      </div>
    </div>
     <div class="media">
      <div class="media-left media-middle">
        <%= image_tag('pregnant.jpg') %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Pets</h4>
        In our Mommy & Me classes your little one will create something special WITH you while creating lifetime memories FOR both of you!
      </div>
    </div>
  </div>
</div>